.content {
    padding: 10px;
}

.navigation {
    list-style-type: none;
    padding: 10px;

    li {
        display: inline-block;
        margin-right: 20px;
    }
}

.navigation.dark {

}

.navigation.light {

}
